html, body {
   margin: 0;
   padding: 0;
} 

.signup {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
   background-color: gray;
}

.signupwrapper {
   display: grid;
   height: 100%;
   width: 100%;
   grid-template-columns: repeat(1fr, 6);
   grid-template-rows: repeat(1fr, 6);
   background-color: #ffbbbb;
}

.rakkas {
   font-family:'Rakkas', cursive, serif;
}

.fjalla {
   font-family: 'Fjalla One', sans-serif;
}

.center {
   text-align: center;
}

.wrapper {
   display: grid;
   grid-template-columns: [sidebar] 1fr [content] 3fr;
}

.sidebar {
   content: sidebar;
   background-color: #a8a7a7;
   width: 100%;
   padding: 10px 20px;
}

.content {
   content: content;
   background-color: #f8dede;
   width: 100%;
   padding: 10px 20px;
}

body {
   background-color: #ffbbbb;
}

.nav {
   display: block;
   overflow: hidden;
   background-color: #ffbbbb;
   
}

.nav a{
   float: left;
   text-align: center;
   padding: 14px 16px;
   color: black;
   font-size: 20px;
}

.nav a:hover {
   background-color: #c27e7e;
}

.nav-right {
   float: right;
}

li {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: black;
}